canvas {
    display: block;
    width: 100%;
    height: 100vh;
    cursor: grab;
    background: #ddd;
}

ul {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    font: 1rem monospace;
    color: black;
    text-shadow: 0 0 1px black;
    display: grid;
    place-content: start end;
    place-items: end;
    a {
        color: inherit;
    }
    li:first-of-type {
        font-size: 2rem;
    }
}
